/*------------user_panel----------*/
#user_panel{
	background-image: linear-gradient(160deg, #34b6d9, #3464d9);
}

.user-panel-title{
	height: 300px;
}

.user-tab-panel{
	background-color: #fff;
	height: 330px;
	width: 400px;
	border-radius: 12px;
	display: none;
	padding-top: 30px;
    /*box-shadow: #ccc 3px 3px;*/
    transition: all 1.5s;
	-moz-transition: all 1.5s;	/* Firefox 4 */
	-webkit-transition: all 1.5s;	/* Safari 和 Chrome */
	-o-transition: all 1.5s;
}
.user-tab-panel.active{
	display: block;
}


.user-tab-panel .user-tab-panel-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1b1111;
}

.user-tab-panel form input{
	width: 330px;
    height: 42px;
    line-height: 42px;
    border-radius: 6px;
    border: 2px solid #efe3e3;
    background-color: transparent;
    font-size: 16px;
    margin: 0 30px 5px;
    padding: 6px;
}
.user-tab-panel form input.register-form-input{
	margin-bottom: 0px;
}

.user-tab-panel .form-group a {
    display: block;
    width: 137px;
    height: 42px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}
.login-btn {
    background-image: url(../images/dd.png);
    margin-right: 23px;
}
.login-btn:hover {
    background-image: url(../images/ee.png)
}

.register-btn {
    background-image: url(../images/ff.png)
}

.register-btn:hover {
    background-image: url(../images/gg.png)
}
.return-login{
	line-height: 42px;
    text-decoration: none;
    color: #615f5f;
    font-size: 14px;
}
.return-login:hover{
	text-decoration: none;
	color: #a5a5a5;
}

.user-tab-info{
	width: 330px;
    margin: 5px 30px 15px;
    display: inline-block;
    color: #fff;
}

.user-tab-info.active{
	 color: #a94442;
}

#user_register_panel .user-tab-info{
	margin-bottom: 0px;
}

#user_register_panel{
	transform: rotateY(-180deg);
}


/*------------loading panel ------------*/
.screen-alert {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: rgba(249,223,94,.71);
    padding: 5px;
    left: 50%;
    margin-left: -130px;
    z-index: 1080;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.67);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: none;
}
/*------------notify panel ------------*/
#container {
    z-index: 1080
}

#container span {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    line-height: 26px
}

/*------------title panel ------------*/
#header_panel {
    height: 60px;
    box-shadow: 1px 2px 10px 0 #828e9a;
    background-color: #b1b8c4;
}

#logo_panel {
    background-image: url(../images/draw.png);
    width: 50px;
    height: 100%;
    line-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#logo_panel, #title_panel {
    float: left;
    margin-left: 10px;
}

#title_panel {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 0 0 #000;
}

#user_title{
    float: right;
    height: 20px;
    line-height: 20px;
    right: 20px;
    position: absolute;
    color: #fff;
    top: 10px;  
}

#user_logout{
    margin-left: 20px;
    color: #fff;
}