body{
	margin: 0px;
	font-size: 12px;
	font-family: "Microsoft Yahei";
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

ul{
    display: block;
    padding-left: 0;
    margin: 5px;	
    list-style-type: none;
}
.modal-backdrop.in{
	z-index: -1;
}

#header_panel {
    height: 60px;
    box-shadow: 1px 2px 10px 0 #828e9a;
    background-color: #b1b8c4;
}

#logo_panel {
    background-image: url(../images/draw.png);
    width: 50px;
    height: 100%;
    line-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#logo_panel, #title_panel {
    float: left;
    margin-left: 10px;
}

#title_panel {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 0 0 #000;
}

#user_title,#user_login{
	float: right;
    height: 20px;
    line-height: 20px;
    right: 20px;
    position: absolute;
    color: #fff;
    top: 10px;	
}

#user_logout{
	margin-left: 20px;
	color: #fff;
}
/*#main_panel{
	position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    top: 60px;
}*/

#left_panel{
	float: left;
	width: 300px;
	height: 100%;
	border-right: 1px solid #ccc; 
}

#right_panel{
	float: right;
	width: calc(100% - 300px);
	height: 100%;
	overflow: hidden;
}

.clear{
	clear: both;
}

#map_div{
	position: relative;
	height: 100%;
	width: 100%;
}

#toolbar{
    position: absolute;
    left: 340px;
    top: 20px;
    z-index: 2;
}

#map_base_div{
    position: absolute;
    right: 60px;
    top: 20px;
    z-index: 2;
    height: 60px;
}

.map-base-div{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-position: center;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.map-vector-div{
    background-image: url(../images/map-vector-thumb.png);
}

.map-image-div{
    background-image: url(../images/map-image-thumb.png);
}

.map-base-div.active{
    border: 2px solid red !important;   
}
.map-base-div:hover{
    border: 1px solid red; 
    width: 62px;
    height: 62px;  
}
.left-tab{
	position: relative;;
	width: 100%;
	height: 100%;
	display: none;
}

.left-tab.active{
	display: block;
}

.left-tab-title{
	height: 30px;
    margin: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #051a42;
    border-bottom: 2px solid #4b5f83;
}

.type-next{
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	float: right;
}
.type-next:hover{
	background-color: #cac9c9;
}
.type-before{
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}
.type-before:hover{
	background-color: #cac9c9;
}
.right-title-btn{
	height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
    margin-left: 4px;
}

.right-title-btn:hover{
	color: #8697b5;
}

.left-title-icon{
	float: left;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    width: 20px;
}

.left-title-icon:hover{
	color: #8697b5;
}

.list-type-div{
	height: calc(100% - 50px);
	width: 100%;
}
.list-type{
    background-color: #f9f9f9;
    height: 40px;
    border-radius: 4px;
    margin: 10px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
}

.list-type:hover,.list-type.active{
	background-color: #cac9c9;
}


.list-type [class*=col-]{
	height: 100%;
    padding-top: 4px;
}
.list-type .layer-style{
	border-right: 1px solid #fff;

}

.list-type .layer-style img{
	background-position: center;
	margin-left: 14px;
}


.list-type .layer-invisible,.list-type .layer-visible,
.list-type .layer-heatmap{
	background-position: center;
	background-repeat: no-repeat;
    cursor: pointer;
}

.list-type .layer-invisible{
	background-image: url(../images/ok_2.png);
}
.list-type .layer-visible{
	background-image: url(../images/ok.png);
}
.list-type .layer-heatmap span{
    height: 40px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #dfdfe2;
}

.list-type .layer-heatmap.heatmap-visible span{
    color: #000;
}
.overlay-info-div{
	height: calc(100% - 50px);
	width: 100%;
	margin: 10px;
}
.overlay-info-div.loading{
	background-image: url(../images/spin.gif);
	background-repeat: no-repeat;
	background-position: center;	
}

.overlay-info-div .input-group{
	width: 92%;
	margin: 10px 0px;
}

.overlay-info-div .input-group .input-group-addon{
	max-width: 80px;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

.overlay-info-div .input-group input[type='text']{
	background-color: #fbfbfb;
}
#overlay-tab .input-group{
	width: 92%;
}

#overlay-tab .search-div{
	margin: 10px;
}

#overlay-tab .search-div [class*=col-]{
	padding: 0px;
}

#overlay-tab .list-btn{
	display: none;
	width: 40px;
	background-image: url(../images/back.png);
	background-position: center;
	background-repeat: no-repeat;
}

#layer_tab .left-tab-title .btn-group .btn{
	padding: 4px 8px;
}
#layer_tab .overlay-list-div{
	overflow-y: auto;
	height: calc(100% - 128px);
}
#layer_tab .overlay-list-div.loading{
	background-image: url(../images/spin.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.overlay-item{
    border: 1px solid #ccc;
    margin: 6px;
    height: 34px;
    border-radius: 2px;
}

.overlay-item [class*=col-md]{
	padding: 0px;
	line-height: 32px;
}
.overlay-item .overlay-name{
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.overlay-item .edit,.overlay-item .remove{
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	color: #fff;
}

.overlay-item .edit:hover,.overlay-item .remove:hover{
	background-color: #ddd;
	color: #424242;
}

.overlay-item:hover{
	background-color: #f9f9f9;
}

.page-div{
	height: 48px;
    text-align: center;
    border-top: 1px solid #4b5f83;
    margin: 0px 10px;
}
#layer_tab .pagination{
  margin: 10px 0px 4px 6px !important;
}
#layer_tab .pagination  li{
  border: 1px solid #C9D9EA;
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
  padding: 4px;
}
#layer_tab .pagination  li:hover{
  color: #fff;
  background-color: #428bca;
}
#layer_tab .pagination li.current-page{
  border: none;
}

/*--------tab-panel--------*/
.tab-panel{
	width: 100%;
	height: 100%;
	display: none;
}
.tab-panel.active{
	display: block;
}


/*-------------style popover panel-----------*/
.popover{
	max-width: 400px !important;
}
.popover-content li{
	float: left;
	margin: 4px;	
}
.point-style-thumb{
	width: 40px;
	height: 36px;
	background-position: center;
	display: inline-block;
	background-repeat: no-repeat;
}


.style-panel{
	overflow: hidden;
}
.line-style-panel{
    padding: 10px 2px;
    width: 300px;
}
.polygon-style-panel{
	width: 360px;
}

.colorSelector{
	width: 32px;
	height: 32px;
	padding: 13px 2px;
}

.colpick{
	z-index: 10001 !important;
}
.style-div{
	height: 6px;
	background-color: #ccc;
}

.slider{
	width: 80%  !important;
	margin-top: 6px;
	margin-left: 10px;
}

.style-panel .row{
	margin: 0px;
}
.style-panel [class*=col-] {
    padding-left: 0;
    padding-right: 0;
    margin-right: 2px;
}
.style-panel input{
	text-align: center;
	padding: 0px;
}
.style-panel input[type="checkbox"]{
	margin-top: 10px;	
}

.style-panel .fill-row.style-div{
	height: 16px;
	width: 16px;
    margin-top: -6px;
    margin-left: 5px;	
}

.style-panel .save-style-btn{
	float: right;
    right: 15px;
    position: relative;
    margin-top: 10px;
}
/*----------Maps Panel---------------*/
.content-panel{
	display: none;
	position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    top: 60px;
}

.content-panel.active{
	display: block;
}

#maps_panel_title{
	height: 60px;
}

#maps_panel_title .left-title-div{
    margin-top: 16px;
    float: left;
    margin-left: 30px;
}

#maps_panel_title .maps-count {
    min-width: 100px;
    display: inline-block;
    position: absolute;
    left: 0;
}
#maps_panel_title .maps-count p {
    font-size: 14px;
    margin-top: 8px;
}
#maps_panel_title .map-page-div{
	position: relative;
    right: 400px;
    width: 350px;
    height: 40px;
    margin-top: 16px;
}

#maps_panel_title .maps-page{
	display: inline-block;
    width: 225px;
    position: absolute;
    right: 0;
}

#maps_panel_title .maps-page .pagination {
    float: right;
}

#maps_main_panel{
	height: calc(100% - 60px);
	border-top: 2px solid #ddd;
}


#maps_left_panel{
	float: left;
    width: calc(100% - 400px);
    padding: 20px;
    height: 100%;
}

#maps_right_panel{
	font-family: microsoft yahei;
    overflow-y: auto;
    display: none;
    float: right;
    width: 400px;
    border-left: 1px solid #ccc;
    min-width: 400px;
    height: 100%;
    padding: 60px 20px 20px;
}

#maps_right_panel.active{
	display: block;
}

#maps_list_ul {
    margin: 0;
}

.map-thumb,.maps-thumb {
    display: block;
    width: 200px
}

.maps-thumb {
    position: relative;
    float: left;
    height: 200px;
    margin: 5px
}

.map-thumb {
    height: 160px;
    background-size: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.map-thumb.selected {
    border: 4px solid #428bca!important
}

.map-thumb.enter,.map-thumb:hover {
    border: 1px solid #428bca
}

.join-map-div{
    width: 60px;
    height: 30px;
    background-color: #9dc2e2;
    margin-top: -64px;
    margin-left: 140px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    cursor: pointer;  
    color: #fff;
}

.page-heading {
    margin-bottom: 20px;
    border-bottom: 1px solid #428bca;
    padding-bottom: 6px;
    color: #428bca
}
.page-heading .glyphicon{
	font-size: 24px;
	color: #428bc;
}

.map-info-layer-heading,.map-info-row {
    color: #767676
}

.page-heading .fa-lg {
    margin-right: 10px
}

.map-info-row {
    margin: 12px
}

.map-info-row span {
    display: inline-block;
}

.map-info-item {
    width: 60px;
    text-align: right;
    margin-right: 6px;
}

/*-------create dataset dialog--------*/
#dataset_fields_form{
	border: 1px dotted #ccc;
	height: 400px;
}
#create_dataset_dialog #dataset_fields_form .form-group {
    border-bottom: 1px solid #e5e5e5;
    padding: 6px 0px;
    margin: 0px;
}
#create_dataset_dialog .form-group-header{
	text-align: center;
	font-weight: bold;
}


/*-------create map dialog--------*/
#create_map_dialog .modal-dialog{
    width: 460px;
}

#base_map_list{
    height: 200px;
}

.base-map-thumb {
    position: relative;
    float: left;
    display: block;
    width: 160px;
    /*height: 110px;*/
    margin: 20px
}
.map-check {
    position: absolute;
    top: 40px;
    left: 36px;
    text-align: center;
    display: none
}
#create_map_dialog .thumbnail.selected {
    border: 4px solid #428bca;
}

/*-------login dialog--------*/
#login_dialog .modal-dialog{
    top: 200px;
    width: 500px;
}

#login_dialog .modal-body{
    padding: 30px;
}
#login_dialog form input{
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-radius: 6px;
    border: 2px solid #efe3e3;
    background-color: transparent;
    font-size: 16px;
    margin: 0 0px 5px;
    padding: 6px;
}

#login_dialog  .user-tab-info{
    margin: 5px 0px 15px;
    width: 100%;
}

#login_dialog .form-group a {
    display: block;
    width: 137px;
    height: 42px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

#login_dialog .login-btn {
    background-image: url(../images/dd.png);
    margin-right: 23px;
}

#login_dialog .login-btn:hover {
    background-image: url(../images/ee.png);
}